{% extends "base.html" %}
{% block content %}
<div class="max-w-4xl mx-auto">
    <div class="bg-black/25 backdrop-blur-sm border border-blue-500/20 rounded-2xl p-8 md:p-12 shadow-2xl">
        <h1 class="text-4xl md:text-7xl font-extrabold tracking-tight mb-5 -mt-10 text-center -py-4" >About Me</h1>

        <div class="mx-auto w-48 md:w-72 lg:w-98 mb-8 rounded-full p-1 bg-white/10 backdrop-blur-sm border border-white/20 shadow-2xl">
            <img src="/assets/for_web/prof_pic.png" alt="Profile Picture" class="rounded-full w-full">
        </div>

        <p class="mb-4 text-center text-ls mx-auto px-4">Fun fact this image was made by me in MS Paint!<br> PS: hope you got the reference in the profile picture!</p>

        <div class="max-w-3xl mx-auto text- mb-4">
            <p class="mb-4 text-md font-semibold">Hi! I'm Karthik Gollapudi, a first year B.Tech student at PES University driven by curiosity and a genuine love for learning. I'm deeply interested in deep learning, operating systems, quantum computing, and physics, with a special fascination for astrophysics and the big questions about our universe. I'm currently working on a collaborative deep learning research project where we compare different regularisation techniques and study how effectively they learn, reconstruct, and generate data.</p>
            <p class="mb-4 text-md font-semibold">Outside academics, I channel that same intensity into my passions. I'm a loyal supporter of FC Barcelona and closely follow Formula 1. I'm also a massive combat sports enthusiast who keeps up with Ultimate Fighting Championship and professional boxing. I love driving, especially with music blasting across genres, from pop and hip hop to UK drill and rock like Linkin Park. I'm big on sports video games too, spending time on EA Sports FC 24, F1 23, and Undisputed. When I want a strong narrative experience, I dive into story driven games like Detroit: Become Human and Red Dead Redemption 2.</p>
            <p class="mb-4 text-md font-semibold">I'm also an anime fan, a manga and light novel reader, and a dedicated fan of the Pokémon games, my personal favourite being Pokémon: Emerald. Whether it's building models, watching a title fight, following a Grand Prix weekend, or going on a late night drive with a great playlist, I'm always pushing forward and enjoying the journey.</p>
             <p class="mb-4 text-small font-semibold">type in pikachu or press shift+p for a surprise</p>
        </div>
    </div>
</div>
{% endblock %}