{% extends "base.html" %}

{% block content %}
  <div class="hero rounded-lg">
    <div class="hero-content flex-col lg:flex-row-reverse"> {% if page.hero_image %}
        <img src="{{ page.hero_image }}" class="max-w-xs md:max-w-sm rounded-lg" />
      {% endif %}

      <div class="max-w-md mt-12">
        <h1 class="text-8xl font-bold">Hello, I'm Karthikeya </h1>
        <p class="mt-4 text-2xl">It’s a pleasure to introduce myself.</p>

        <div class="mt-6 flex space-x-4">
            {% for link in page.social_links %}
                <a href="https://github.com/L-Karthik-G?tab=repositories" class="btn btn-ghost btn-square join-item" aria-label="{{ link.name }}">
                    {# Dynamically include the SVG file based on the 'icon' key #}
                    {% if link.icon %}
                        {% include "icons/" + link.icon + ".svg" %}
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        
        <div class="mt-8">
            <a href="/contact.html" class="btn btn-primary">Contact Me</a>
            <a href="/static/resume.pdf" class="btn btn-outline ml-4">Download Resume</a>
        </div>
      </div>

    </div>
  </div>


  
{% endblock %}