{% extends "base.html" %}

{% block content %}

<div id="projects" class="w-full px-4 md:px-24 mb-32 flex flex-col items-center">

  <h2 class="text-4xl md:text-6xl font-extrabold text-center -mt-12">Check These Out!</h2>

  <div class="flex flex-col gap-12 items-center w-full">

    <div class="group mt-12 w-full max-w-[512px] h-98 relative overflow-hidden rounded-2xl bg-black/10 backdrop-blur-sm border border-white/20 hover:border-white/80 shadow-xl hover:-translate-y-2 transition-all duration-300">
      <img src="/assets/for_web/MakeRB_web.jpg" class="absolute inset-0 w-full h-full object-cover object-center opacity-60 md:opacity-25 md:group-hover:opacity-55 scale-140 transition-all duration-300" />
      <div class="relative z-10 flex flex-col justify-between h-full p-4 md:p-6">
        <h3 class="text-4xl md:text-6xl font-bold">MAKE-RB</h3>
        <p class="text-white font-semibold text-lg md:text-xl">Developed a Kivy mobile app using Firebase and internal sensors to detect road anomalies in real-time.</p>
        <div class="flex flex-wrap gap-2">
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-black/10 border border-white/20">KIVY</span>
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-black/10 border border-white/20">FIREBASE</span>
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-black/10 border border-white/20">IOT</span>
        </div>
        <div class="mt-4">
          <a href="https://github.com/L-Karthik-G/Make-RB" class="text-blue-300 font-semibold hover:text-blue-100 transition">View on GitHub →</a>
        </div>
      </div>
    </div>

    <div class="group w-full max-w-[512px] h-98 relative overflow-hidden rounded-2xl bg-black/11 backdrop-blur-sm border border-white/20 hover:border-white/80 shadow-xl hover:-translate-y-2 transition-all duration-300">
      <img src="/assets/for_web/RPSGO_web.png" class="absolute inset-0 w-full h-full object-cover object-center opacity-60 md:opacity-25 md:group-hover:opacity-55 scale-140 transition-all duration-300" />
      <div class="relative z-10 flex flex-col justify-between h-full p-4 md:p-6">
        <h3 class="text-4xl md:text-6xl font-bold">RPS-GO</h3>
        <p class="text-white font-semibold text-lg md:text-xl">Multiplayer Rock Paper Scissors Game using YOLOv8 for gesture recognition and OpenCV for scoring.</p>
        <div class="flex flex-wrap gap-2">
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-white/10 border border-white/20">YOLO.V8</span>
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-white/10 border border-white/20">OPENCV</span>
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-white/10 border border-white/20">PYTHON</span>
        </div>
        <div class="mt-4">
          <a href="https://github.com/L-Karthik-G/RPSGO" class="text-blue-300 font-semibold hover:text-blue-100 transition">View on GitHub →</a>
        </div>
      </div>
    </div>

    <div class="group w-full max-w-[512px] h-105 relative overflow-hidden rounded-2xl bg-black/10 backdrop-blur-sm border border-white/20 hover:border-white/80 shadow-xl hover:-translate-y-2 transition-all duration-300">
      <img src="/assets/for_web/vae_ae_web.png" class="absolute inset-0 w-full h-full object-cover object-center opacity-60 md:opacity-20 md:group-hover:opacity-55 scale-140 transition-all duration-300" />
      <div class="relative z-10 flex flex-col justify-between h-full p-4 md:p-6">
        <h3 class="text-3xl md:text-4xl font-bold">Comparitive Analysis for AutoEncoders</h3>
        <p class="text-white font-semibold text-lg">A comparison of 2 different Autoencoder architectures, a Standard AE and a VAE for image reconstruction tasks using MNSIT dataset. <br> You can refer from my <a href="/blog/" class="text-blue-300 hover:text-blue-100 transition">blogs</a></p>
        <div class="flex flex-wrap gap-2">
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-white/10 border border-white/20">PYTHON</span>
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-white/10 border border-white/20">PYTORCH</span>
          <span class="px-3 py-1 text-md font-semibold rounded-full bg-white/10 border border-white/20">DEEP LEARNING</span>
        </div>
        <div class="mt-4">
          <a href="https://github.com/L-Karthik-G/VAE-MNIST" class="text-blue-300 font-semibold hover:text-blue-100 transition">View on GitHub →</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}