<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% set base = site.base_url if (site.base_url and site.base_url.startswith('http')) else ('https://' ~ (site.base_url or 'localhost')) %}
  {% for page in pages %}
  <url>
    <loc>{{ base }}{{ '' if page.url.startswith('/') else '/' }}{{ page.url }}</loc>
    {% if page.lastmod %}<lastmod>{{ page.lastmod }}</lastmod>{% endif %}
  </url>
  {% endfor %}
</urlset>